@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Lobster&family=Raleway:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #242424;
}

button,
input {
  outline: none;
}

button,
label,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

.sr-only {
  position: absolute;
  z-index: -1000;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

* {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9ebe8;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
  width: 100%;
  border-bottom: 2px solid #40240d;
  background-color: rgba(233, 235, 232, 0.5);
}
header .logo {
  color: #40240d;
  font-family: "Lobster", sans-serif;
  font-size: 35px;
}
header ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
header ul li a {
  font-weight: 600;
  color: #40240d;
  font-size: 18px;
}
header .search-basket-wrapper {
  display: flex;
  align-items: center;
}
header .search-basket-wrapper .fa-basket-shopping {
  cursor: pointer;
}
header form {
  border-bottom: 2px solid rgb(124, 70, 79);
  margin-right: 15px;
  cursor: pointer;
}
header form input {
  background-color: transparent;
  border: none;
  width: 120px;
  padding: 3px;
}
header form input[type=text] {
  font-weight: 500;
  font-size: 17px;
  color: #40240d;
}
header form i {
  font-size: 18px;
}

.welcome {
  padding: 10px;
  padding-top: 86px;
  border-bottom: 2px solid #40240d;
}
.welcome-main-bg {
  background: url("../img/main-choco.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-main-bg h2 {
  color: #40240d;
  width: 50%;
  height: 80%;
  min-width: 313px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome-main-bg h2:hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 235, 232, 0.5);
}
.welcome-main-bg h2 button {
  background-color: transparent;
  border: 2px solid #40240d;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #40240d;
  margin-top: 25px;
  box-shadow: 9px 10px 15px rgba(0, 0, 0, 0.1);
}
.welcome-main-bg h2 button:hover {
  border-image: linear-gradient(90deg, rgb(130, 98, 71) 0%, rgb(209, 170, 84) 34%, rgb(218, 190, 108) 68%, rgb(247, 246, 163) 100%) 2;
}
.welcome-main-phrase {
  text-align: center;
}
.welcome-main-phrase p:first-child {
  font-family: "Lobster", sans-serif;
  font-size: 50px;
}
.welcome-main-phrase p:last-child {
  font-family: "Lobster", sans-serif;
  font-weight: 500;
}

.aboutus {
  padding: 190px;
  border-bottom: 2px solid #40240d;
}
.aboutus-wrapper {
  overflow: hidden;
}
.aboutus-left {
  float: left;
  padding: 50px;
  width: 55%;
}
.aboutus-left .common-title p {
  position: relative;
  display: inline-block;
  font-size: 25px;
  font-family: "Lobster", sans-serif;
  margin-left: 40px;
  margin-bottom: 40px;
}
.aboutus-left .common-title p::after {
  content: "";
  width: 150%;
  height: 10px;
  display: inline-block;
  background: rgba(124, 70, 79, 0.5);
  position: absolute;
  bottom: 6px;
  left: 0px;
  z-index: -1;
}
.aboutus-left-contents {
  font-size: 20px;
}
.aboutus-right {
  float: right;
  background: url("../img/aboutus-bg.png") no-repeat center center;
  background-size: contain;
  width: 40%;
  height: 40vh;
}