// Variables
$logo-font: "Lobster", sans-serif;
$basic-font: "Raleway", sans-serif;
$font-color: #40240d;
$border-color: #40240d;
$basic-bg-color: #e9ebe8;
$light-color: rgb(124, 70, 79);
$section-padding: 10px;
$max-width: 1550px;
