@media (max-width: 1605px) {
  .info {
    padding: 30px;
  }
}

@media (max-width: 1300px) {
  .info {
    &-wrapper {
      flex-direction: column;
      gap: 30px;
    }
    &-content-wrapper {
      gap: 30px;
    }
  }
}

@media (max-width: 830px) {
  .info {
    &-wrapper {
      text-align: center;
    }
    &-content-wrapper {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
    &-content {
      ul {
        display: none;
      }
      .info-content-each-wrapper,
      .icons-wrapper {
        display: none;
      }
      .info-content-each-wrapper.each-wrapper-first {
        gap: 12px;
      }
      cursor: pointer;
    }
  }
}
