@import "custom.reset";
@import "_variables";

// XEICON
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

// FONT
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Lobster&family=Raleway:wght@200;300;400;500;600;700&display=swap");

// Mixin
@mixin displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin commonTitle {
  position: relative;
  display: inline-block;
  font-size: 25px;
  font-family: $logo-font;
  margin-left: 50px;
  margin-bottom: 40px;
  &::after {
    content: "";
    width: 150%;
    height: 10px;
    display: inline-block;
    background: rgba(124, 70, 79, 0.5);
    position: absolute;
    bottom: 6px;
    left: 0px;
    z-index: -1;
  }
}

* {
  font-family: $basic-font;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $basic-bg-color;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

// ------- Header -------
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
  width: 100%;
  background-color: rgba($basic-bg-color, $alpha: 0.8);
  z-index: 10;
  border-bottom: 2px solid $font-color;

  .logo {
    color: $font-color;
    font-family: $logo-font;
    font-size: 35px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    li {
      a {
        font-weight: 600;
        color: $font-color;
        font-size: 18px;
      }
    }
  }
  .search-basket-wrapper {
    display: flex;
    align-items: center;
    .fa-basket-shopping {
      cursor: pointer;
    }
  }
  form {
    border-bottom: 2px solid $light-color;
    margin-right: 15px;
    cursor: pointer;
    input {
      background-color: transparent;
      border: none;
      width: 120px;
      padding: 3px;
      &[type="text"] {
        font-weight: 500;
        font-size: 17px;
        color: $font-color;
      }
    }
    i {
      font-size: 18px;
    }
  }
  .hamburger-menu {
    display: none;
  }
}

// ------- Section: welcome -------
.welcome {
  padding: $section-padding;
  padding-top: 86px;
  border-bottom: 2px solid $font-color;

  &-main-bg {
    background: url("../img/main-choco.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    @include displayFlexCenter;
    h2 {
      color: $font-color;
      width: 50%;
      height: 80%;
      min-width: 313px;
      @include displayFlexCenter;
      flex-direction: column;
      &:hover {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: rgba($basic-bg-color, $alpha: 0.5);
      }
      button {
        background-color: transparent;
        border: 2px solid $border-color;
        border-radius: 3px;
        padding: 7px;
        font-size: 14px;
        font-weight: 600;
        color: $font-color;
        margin-top: 25px;
        box-shadow: 9px 10px 15px rgba(0, 0, 0, 0.1);
        &:hover {
          border-image: $linear-gradient 2;
        }
      }
    }
  }
  &-main-phrase {
    text-align: center;
    p:first-child {
      font-family: $logo-font;
      font-size: 50px;
    }
    p:last-child {
      font-family: $logo-font;
      font-weight: 500;
    }
  }
}

// ------- Section: aboutus -------
.aboutus {
  padding: $section-padding + 180px;
  border-bottom: 2px solid $font-color;
  @include displayFlexCenter;

  &-wrapper {
    max-width: $max-width;
    overflow: hidden;
  }
  &-left {
    float: left;
    width: 55%;
    min-width: 330px;
    .common-title {
      > p {
        @include commonTitle;
      }
    }
    &-contents {
      font-size: 20px;
    }
  }
  &-right {
    float: right;
    background: url("../img/aboutus-bg.png") no-repeat center center;
    background-size: contain;
    width: 40%;
    height: 40vh;
    animation: moveUpDown 2s ease-in-out infinite;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

// ------- Section: sweets -------
.sweets {
  padding: 130px $section-padding + 180px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $font-color;

  &-wrapper {
    max-width: $max-width;

    > p {
      @include commonTitle;
    }
  }
  &-photos-left {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
  }
  .sweets-img-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      max-width: 300px;
      height: 100%;
      transition: 0.3s;
    }
    &:hover img {
      cursor: pointer;
      transform: scale(1.05);
      filter: brightness(0.6);
      box-shadow: 1px 1px 7px rgba(209, 170, 84, 1);
    }
    &::after {
      content: "Click!";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.3s;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      background: $linear-gradient;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

// ------- Section: review -------
.review {
  padding: 130px $section-padding + 180px;
  border-bottom: 2px solid $font-color;
  @include displayFlexCenter;

  &-wrapper {
    max-width: $max-width;

    > p {
      @include commonTitle;
    }
  }
  &-contents-wrapper {
    display: flex;
    .review-content {
      @include displayFlexCenter;
      flex-direction: column;
      text-align: center;
      .review-img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
      }
      .review-star {
        width: 100px;
      }
      p {
        width: 25%;
        min-width: 225px;
      }
      p:nth-child(2) {
        margin-bottom: 20px;
        font-weight: 500;
      }
      p:nth-child(3) {
        color: $light-color;
        font-family: $logo-font;
        font-size: 25px;
        margin-bottom: 10px;
      }
      p:nth-child(4) {
        color: $light-color;
        font-weight: 500;
        margin-bottom: 30px;
      }
    }
  }
}

// ------- Section: info -------
.info {
  padding: 90px $section-padding + 180px;
  background-color: $font-color;
  @include displayFlexCenter;
  &-wrapper {
    max-width: $max-width;
    display: flex;
    gap: 100px;
    > span {
      color: rgba(209, 170, 84, 1);
      font-family: $logo-font;
      font-size: 35px;
    }
  }
  &-content-wrapper {
    display: flex;
    gap: 100px;
  }
  &-content {
    i {
      color: $basic-bg-color;
      margin-right: 8px;
    }
    p,
    a {
      color: $basic-bg-color;
      font-size: 14px;
      line-height: 1.8rem;
    }
    a {
      display: block;
    }
    p:first-child:not(.weekday) {
      color: rgba(218, 190, 108, 1);
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &-each-wrapper {
      display: flex;
      align-items: center;
      .fa-clock {
        margin-top: -57px;
      }
    }
    .icons-wrapper {
      display: flex;
      justify-content: space-between;
    }
    .accordion {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      margin-top: 15px;
      cursor: pointer;
      &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: $basic-bg-color;
        border-radius: 5px;
        border: 2px solid rgba(209, 170, 84, 1);
        position: relative;
        span {
          font-weight: 500;
          text-align: center;
        }
        &::after {
          content: "\f077";
          font-family: FontAwesome;
          position: absolute;
          right: 10px;
          color: $font-color;
          transition: transform 0.3s;
        }
        &.accordion-toggle::after {
          transform: rotate(180deg);
        }
      }
      &-content {
        display: none;
        background-color: $basic-bg-color;
        border: 2px solid rgba(209, 170, 84, 1);
        border-top: none;
        border-radius: 0 0 5px 5px;
        padding: 8px;
        text-align: center;
        li {
          transition: 0.3s;
        }
        li:hover {
          background-color: rgba(218, 190, 108, 0.4);
        }
        a {
          color: #000;
        }
      }
    }
  }
}

// ------- Footer -------
footer {
  padding: 30px $section-padding + 50px;
  background-color: $font-color;
  color: $basic-bg-color;
  font-size: 12px;
  line-height: 1.8rem;
  border: 0;
  box-shadow: 0 -0.5px $basic-bg-color;
  address {
    font-style: normal;
  }
}

// ------- To top button -------
.to-top-btn {
  position: fixed;
  width: 45px;
  height: 45px;
  right: 30px;
  bottom: 30px;
  border-radius: 10px;
  border: 2px solid $border-color;
  background-color: #b6b5b5;
  color: $font-color;
  font-size: 20px;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
