@import "custom.reset";
@import "responsive";
// XEICON
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
// FONT
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Lobster&family=Raleway:wght@200;300;400;500;600;700&display=swap");

// Variables
$logo-font: "Lobster", sans-serif;
$basic-font: "Raleway", sans-serif;
$font-color: #40240d;
$border-color: #40240d;
$basic-bg-color: #e9ebe8;
$section-padding: 10px;

// Mixin
@mixin displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin commonTitle {
  p {
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family: $logo-font;
    margin-left: 40px;
    margin-bottom: 40px;
    &::after {
      content: "";
      width: 150%;
      height: 10px;
      display: inline-block;
      background: rgba(124, 70, 79, 0.5);
      position: absolute;
      bottom: 6px;
      left: 0px;
      z-index: -1;
    }
  }
}

* {
  font-family: $basic-font;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $basic-bg-color;
}

// ------- Header -------
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
  width: 100%;
  border-bottom: 2px solid $font-color;
  background-color: rgba($basic-bg-color, $alpha: 0.5);

  .logo {
    color: $font-color;
    font-family: $logo-font;
    font-size: 35px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    li {
      a {
        font-weight: 600;
        color: $font-color;
        font-size: 18px;
      }
    }
  }
  .search-basket-wrapper {
    display: flex;
    align-items: center;
    .fa-basket-shopping {
      cursor: pointer;
    }
  }
  form {
    border-bottom: 2px solid rgb(124, 70, 79);
    margin-right: 15px;
    cursor: pointer;
    input {
      background-color: transparent;
      border: none;
      width: 120px;
      padding: 3px;
      &[type="text"] {
        font-weight: 500;
        font-size: 17px;
        color: $font-color;
      }
    }
    i {
      font-size: 18px;
    }
  }
}

// ------- Section: welcome -------
.welcome {
  padding: $section-padding;
  padding-top: 86px;
  border-bottom: 2px solid $font-color;

  &-main-bg {
    background: url("../img/main-choco.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    @include displayFlexCenter;
    h2 {
      color: $font-color;
      width: 50%;
      height: 80%;
      min-width: 313px;
      @include displayFlexCenter;
      flex-direction: column;
      &:hover {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: rgba($basic-bg-color, $alpha: 0.5);
      }
      button {
        background-color: transparent;
        border: 2px solid $border-color;
        border-radius: 3px;
        padding: 7px;
        font-size: 14px;
        font-weight: 600;
        color: $font-color;
        margin-top: 25px;
        box-shadow: 9px 10px 15px rgba(0, 0, 0, 0.1);
        &:hover {
          border-image: linear-gradient(
              90deg,
              rgba(130, 98, 71, 1) 0%,
              rgba(209, 170, 84, 1) 34%,
              rgba(218, 190, 108, 1) 68%,
              rgba(247, 246, 163, 1) 100%
            )
            2;
        }
      }
    }
  }
  &-main-phrase {
    text-align: center;
    p:first-child {
      font-family: $logo-font;
      font-size: 50px;
    }
    p:last-child {
      font-family: $logo-font;
      font-weight: 500;
    }
  }
}

// ------- Section: aboutus -------
.aboutus {
  padding: $section-padding + 180px;
  border-bottom: 2px solid $font-color;

  &-wrapper {
    overflow: hidden;
  }
  &-left {
    float: left;
    padding: 50px;
    width: 55%;
    .common-title {
      @include commonTitle;
    }
    &-contents {
      font-size: 20px;
    }
  }
  &-right {
    float: right;
    background: url("../img/aboutus-bg.png") no-repeat center center;
    background-size: contain;
    width: 40%;
    height: 40vh;
  }
}
